
<!-- <h2>My playlist will eventually end up here</h2> -->
<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
	<!-- list of videos from "inputs = [videos]" (from playlist.components.ts) in a loop directive *ngFor-->
		<tr *ngFor="#v of videos" (click)="onSelect(v)">
			<td>{{v.id}}</td>
			<td>{{v.title}}</td>
			<td>{{v.desc}}</td>	
		</tr>
	</tbody>
</table>

<hr />

<h2>{{ saleHeading }}</h2>

<ul>
	<li *ngFor="#shoppingListItem of shoppingListItems" (click)="onItemClicked(shoppingListItem)">{{ shoppingListItem.name }}	
	</li>
</ul>
<input type="text" style="border: 1px solid grey"  [(ngModel)]="selectedItem.name" />  
<button  (click)="onDeleteItem()" > Delete Item </button> <br /><br />
<input type="text" style="border: 1px solid grey" #shoppingListItem />
<button (click)="onAddItem(shoppingListItem)">Add Item</button>

<!--Bar Chat-->




